@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;

}
body{
    background: linear-gradient(45deg,rgb(133, 81, 253), rgb(137, 59, 238), rgb(176, 44, 253));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 695px;
    
}
.main {
    display: flex;
    width: 1000px;
    height: 600px;
    border-radius: 15px;
    box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px;
}
.section-1 {
    display: flex ;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background: linear-gradient(45deg, rgb(113, 43, 226), rgb(110, 45, 201), rgb(157, 77, 231));
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    gap: 15px;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 10px;
    gap: 10px;
    font-weight: 100;
    margin-top: 15px;
}
.logo img {
    width: 40%;
}
.logo h3 {
    font-weight: 300;
}

h1 {
    
    margin-top: 70px;
    font-size: 45px;
    font-weight: 300;
}
.sing-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.sing-up hr {
    width: 50%;
}
h2 {
    margin-top: 140px;
    font-size: 28px;
    font-weight: 300;
}
.sing-up button {
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px;
    background: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.sing-up button:hover {
    background-color:  rgb(86, 32, 161);
    border: 1px solid rgba(255, 255, 255, 0.534);
}
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    border: none;
}
legend {
    margin-bottom: 90px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.input-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.input-form li {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
}
.input-form label {
    color: rgb(39, 39, 39);
    font-size: 15px;
}
.input-form input {
    font-size: 16px;
    border: none;
    border-bottom: 1px rgb(75, 74, 74) solid;
    outline: none;
    width: 290px;
}
.field p {
    text-align: center;
}
.field button {
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.field button:hover {
    background-color: rgb(104, 23, 180);
}

